{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block content %}
    {% if jobs %}
        <div class="card">
            <div class="card-header">Jobs ({{ paginator.itemCount }})</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">AccessState</th>
                            <th scope="col">DateCreated</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                            <tr>
                                <td>{{ paginator.page > 1 ? loop.index + (paginator.itemsPerPage * (paginator.page - 1)) : loop.index }}</td>
                                <td>{{ job.title }}</td>
                                <td>
                                    <span class="badge text-bg-{{ job.accessState.color }}">{{ job.accessState.description }}</span>
                                </td>
                                <td>{{ job.dateCreated.format('d.m.Y') }}</td>
                                <td>
                                    <a href="{{ absolute_url(job.publicLink) }}">Public</a>
                                    <a href="{{ absolute_url(job.editLink) }}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                {% include 'common/_paginator.html.twig' with { paginator } %}
            </div>
        </div>
    {% endif %}
{% endblock %}
