<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="{{ asset('assets/images/logo-symfony.svg') }}">
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container mx-auto p-3 py-md-5">
            {% block body %}
                <main>
                    <ul>
                        <li><a href="{{ url('app_job') }}">Twig</a></li>
                        <li><a href="{{ url('app_job_vue') }}">Vue</a></li>
                    </ul>
                    {{ include('common/_flash_messages.html.twig') }}

                    {% block content %}{% endblock %}
                </main>
            {% endblock %}

        </div>
    </body>
</html>
